<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".GlobalClass"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".ui.gallery.Test_Ind"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_6"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_3"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_1"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_2"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_4"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_7"
            android:exported="false" />
        <activity
            android:name=".Test_Oge_5"
            android:exported="false" />
        <activity
            android:name=".tema10"
            android:exported="false" />
        <activity
            android:name=".tema9"
            android:exported="false" />
        <activity
            android:name=".tema8"
            android:exported="false" />
        <activity
            android:name=".tema7"
            android:exported="false" />
        <activity
            android:name=".tema6"
            android:exported="false" />
        <activity
            android:name=".tema5"
            android:exported="false" />
        <activity
            android:name=".tema4"
            android:exported="false" />
        <activity
            android:name=".tema3"
            android:exported="false" />
        <activity
            android:name=".tema2"
            android:exported="false" />
        <activity
            android:name=".test"
            android:exported="true"
            android:label="@string/title_activity_test"
            android:theme="@style/Theme.MyApplication.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Setting"
            android:exported="true" />
        <activity
            android:name=".tema1"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>